.chat {
    height: calc(100vh - 140px);
    width: 100%;
    background: #fff;
    position:  relative;
    &__title {
        position: absolute;
        margin: 0;
        padding: 5px 10px;
        top: 0;
        left: 0;
        background: rgba($color: $black, $alpha: 0.1);
        opacity: 0.4;
        transition: .2s ease;
        &:hover {
            opacity: 1;
            background: rgba($color: $yellow, $alpha: 1)
        }
    }
    &__body {
        width: 100%;
        height: calc(90vh - 140px);
        overflow-y: scroll;
        padding-top: 8.5%;
    }
    &__form {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 10vh;
    }
    &__textbox {
        resize: none;
        border: 1px solid #000;
        outline: none;
    }

    &__username {
        padding-top: 5px;
        text-align: right;
        width: 100%;
        font-weight: 300;
        font-size: 1.2rem;
    }

    &__message {
        width: 100%;
        overflow: auto;
        &-in {
            max-width: 70%;
            padding: 5px;
            margin: 5px;
            background: $yellow;
            font-size: 2rem;
            float: left;
            font-weight: 300;

            &--right {
                float: right;
                background: $black;
                color: #fff;
            }
        }
    }
}